.field-container {
	background-color: #14823a;
	height: 100%;
	width: 100%;

	stroke: white;
	stroke-width: 0.2;
}

.field-infoboard {
	stroke-width: 0;
}

.field-infoboard > rect:first-child {
	height: 100%;
	rx: 0.5;
	ry: 2;
	width: 100%;
}

.field-infoboard text {
	fill: #0c4999;
	font-family: sans-serif;
	font-size: 18pt;
	font-weight: bold;
	letter-spacing: .2ex;
	text-transform: uppercase;
}

.field-infoboard text.field-time {
	font-family: monospace;
	font-size: 11%;
	letter-spacing: .05ex;
}

.field-infoboard.field-referee {
	opacity: 0;
	transition: opacity 0.2s;
}

.field-infoboard text.field-referee-action {
	font-size: 14pt;
	text-transform: none;
}
